 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* Media Queries for responsiveness */
@media (max-width:350px) {
    .weather{
        flex-direction: column;
    }
}
@media (min-width:700px) {
    html{
        font-size:25px;
    }
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100vh;
    background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Container Section */
.container{
    /* display: none; */
    /* z-index: 1; */
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    /* background-color:black; */
}

.weather{
    max-width: 500px;
    z-index: 2; 
    display: flex;  
    align-items: center;
}

.weather >*{
    margin: 0.5em;
}

.temperature{
    font-size: 2rem;
}

.weather p{
    font-size: 1.5rem;
}


/* Form section */
.searchbar{
    z-index: 5;
    height:100px;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0%;
}

#city-search input{
    margin: 1em 0.5em;
    border:2px solid rgba(0, 0, 0, 0.356);
    border-radius: 15px ;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.356);
    outline:none;
    padding:0.5em 0.5em;
}

#submitbtn{
    border:2px solid rgba(0, 0, 0, 0.356);
    border-radius: 15px ;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.356);
    padding:0.5em 0.5em;
    background-color: coral;
    transition: all 1s;
    margin: 1em 1em;
}

#submitbtn:hover{
    background-color: rgb(236, 79, 22);
    transform: translate(0,-3px);
}


/* Loading Section */
.wait{
    display: none;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 1em auto;
} 

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}















